# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/


# Mac
.DS_Store

# Maven
log/
target/
pom.xml.versionsBackup

# Gradle
build/
.gradle/

# Application
test-indices/
jmeter.log
